@model ConsoleAppProject.App02.BMICalculatorWeb
@using ConsoleAppProject.App02
@{
    ViewData["Title"] = "LB WebApps | BMI Calculator";
}
<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4">BMI Calculator</h1>
    <p>
        This App will allow you to calculate a person's BMI (Body Mass Index) through their Height and Weight, to assess their overall health.
    </p>
</header>
<section>
    <form method="post">
        <h2>Height Details</h2>

        <label>Metric</label>
        <p>
            <input type="number" placeholder="Metres" asp-for="@Model.Centimetres" />
        </p>
        
        <label>Imperial</label>
        <p>
            <input type="number" placeholder="Feet" value="6" asp-for="@Model.Feet" />
            <input type="number" placeholder="Inches" value="0" asp-for="@Model.Inches" />
        </p>
        
        <h2>Weight Details</h2>

        <label>Metric</label>
        <p>
            <input type="number" placeholder="Kilograms" asp-for="@Model.Kilograms" />
        </p>

        <label>Imperial</label>
        <p>
            <input type="number" placeholder="Stones" value="11" asp-for="@Model.Stones" />
            <input type="number" placeholder="Pounds" value="5" asp-for="@Model.Pounds" />
        </p>
        <p>
            <button class="btn btn-success" type="submit">Calculate</button>
        </p>
    </form>
</section>

